.zoom {
  overflow: hidden;
  .inner {
    position: relative;
    .img,
    &.bg {
      transition: transform 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
    }
    &::before {
      content: "";
      transition: opacity 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
  &:hover .inner {
    img,
    &.bg {
      transform: scale(1.08, 1.08);
    }
    &::before {
      opacity: 1;
    }
  }
}

header {
  width: 100%;
  background-color: aqua;
  .head {
    background-image: url(../img/header/HeaderBackgroundImg.jpg);
    background-size: cover;
    background-color: #74b2ff;

    .head-img-cover {
      background-color: rgb(220 220 220 / 60%);
      padding: 90px 0;
      text-align: center;

      .img-circle {
        border: 6px solid #74b2ff;
        border-radius: 50%;
        width: 130px;
        display: block;
        margin: auto;
      }

      .head-name {
        margin: 13px 0px;
        display: inline-block;
      }

      .head-email {
        display: block;
        font-size: 16px;
        color: #454545;
      }
    }
  }

  .navbar {
    .nav_main_title {
      position: absolute;
      right: 5%;
      top: 15px;
    }
  }
}

main {
  .about_container {
    padding: 20px;
    .row {
      margin: 40px 0;
    }
    .about_right {
      padding: 20px;

      h4 {
        display: inline-block;
      }
    }
  }

  .last_Work {
    background-color: #e6e6e6;
    padding: 60px;
    text-align: center;

    h3 {
      padding: 30px 0;
    }

    .car-main {
      margin: 20px 0px;
      .material-symbols-rounded {
        font-size: 50px;
      }
    }

    .core_skill_unity {
      margin: 60px 0 10px 0;
    }
  }

  .work_Experence {
    padding: 60px 0;
    .work_Exp_top {
      margin: 50px 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
      background-color: #ffffff;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        height: auto;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .lastWorkContent {
          width: 70%;
          margin: auto;
          text-align: left;
        }
      }
    }
  }

  .profile {
    padding: 20px 20px;
    margin: 5%;
    .news_web_Title {
      margin: 20px 0;
    }
    .profile_Title {
      margin: 40px 0;
    }

    .new_web_Title_profile {
      margin: 20px 0;
      .profile_Card {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../img/profile/Bulky.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 40px;
        border: 1px solid rgba(255, 255, 255, 0.319);
        border-radius: 10px;
        color: white;
        margin: 20px 0;
        height: 100%;
        position: relative;
        display: block;
        &:hover {
          color: #bdbdbd;
        }
      }

      .profile_Card_Two {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../img/profile/KHS.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 40px;
        border: 1px solid rgba(255, 255, 255, 0.319);
        border-radius: 10px;
        color: white;
        position: relative;
        display: block;
        height: 100%;
        margin: 20px 0;
        &:hover {
          color: #bdbdbd;
        }
      }

      .profile_Card_Three {
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)
          ),
          url(../img/profile/ECCO.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 15px 40px;
        border: 1px solid rgba(255, 255, 255, 0.319);
        border-radius: 10px;
        color: white;
        display: block;
        position: relative;
        margin: 20px 0;
        &:hover {
          color: #bdbdbd;
        }
      }

      .profile_Position {
        position: relative;
        text-align: left;
        &.profile_Text {
          top: 35px;
          left: -10px;
        }
      }

      .profile_Position_Right {
        position: relative;
        text-align: left;
        &.profile_Text {
          top: 15px;
          left: -10px;
        }
      }
    }
  }

  .news {
    .newsTitle {
      margin: 60px 0 20px 0;
    }
    > .row {
      margin: auto;
      > div {
        padding: 20px 10px;
        .new-card {
          border-radius: 10px;
          overflow: hidden;
          border-radius: 10px;
          box-shadow: 3px 5px 14px 8px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          text-align: initial;
          height: 100%;
          .new-card-img {
            width: 100%;
            display: inline-block;
            height: 195px;
            .video {
              width: 100%;
              height: 100%;
              border-bottom: 10px solid #74b2ff;
            }
          }

          .new-card-content {
            padding: 10px 30px 20px 30px;
            display: inline-block;
            .new-card-title {
              > a {
                color: white;
                padding: 4px 12px;
                background-color: #1a84d0;
                display: inline-block;
                margin: 5px 0 15px 0;
                border-radius: 5px;
                font-weight: bold;
              }
            }
            > h3 {
              font-size: 22px;
              font-weight: bold;
              > a {
                color: black;
              }
            }
            > p {
              display: inline-block;
            }
          }
        }
      }
    }

    > .newsTop {
      margin: 20px auto;
    }
  }
}

footer {
  &.my_footer {
    background-color: #747474;
    margin-top: 20px;

    .footer_content {
      color: white;
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;

      .footer_text {
        display: flex;
        justify-content: center;
        margin: 10px 0;
      }
    }

    p {
      color: #fff;
    }
  }
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(187, 187, 187);
}

.animate__delay-0_4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animate__delay-0_5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animate__delay-0_6 {
  -webkit-animation-delay: 0.6;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animate__delay-0_7 {
  -webkit-animation-delay: 0.7;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animate__delay-0_8 {
  -webkit-animation-delay: 0.8;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.Title {
  margin-bottom: 40px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .container {
    max-width: 98%;
    .col-lg-3 {
      .new-card {
        margin-bottom: 25px;
        .new-card-img {
          height: 210px !important;
        }
        .new-card-content {
          height: 250px !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 98%;
    .col-lg-3 {
      .new-card {
        margin-bottom: 25px;
        .new-card-img {
          height: 220px !important;
        }
        .new-card-content {
          height: 250px !important;
        }
      }
    }
  }
}
