header {
  width: 100%;
  background-color: aqua;
  .head {
    background-image: url(../img/header/HeaderBackgroundImg.jpg);
    background-size: cover;
    background-color: #74b2ff;

    .head-img-cover {
      background-color: rgb(220 220 220 / 60%);
      padding: 90px 0;
      text-align: center;

      .img-circle {
        border: 6px solid #74b2ff;
        border-radius: 50%;
        width: 130px;
        display: block;
        margin: auto;
      }

      .head-name {
        margin: 13px 0px;
        display: inline-block;
      }

      .head-email {
        display: block;
        font-size: 16px;
        color: #454545;
      }
    }
  }

  .nav_main_title {
    position: absolute;
    right: 5%;
    top: 35%;
  }
}

main {
  .about_container {
    padding: 20px;
    .row {
      margin: 40px 0;
    }
    .about_right {
      padding: 20px;

      h4 {
        display: inline-block;
      }
    }
  }

  .last_Work {
    background-color: #e6e6e6;
    padding: 60px;
    text-align: center;

    h3 {
      padding: 30px 0;
    }

    .car-main {
      margin: 20px 0px;
      .material-symbols-rounded {
        font-size: 50px;
      }
    }
  }

  .work_Experence {
    padding: 60px 0;
    .work_Exp_top {
      margin: 50px 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
      background-color: #ffffff;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        height: auto;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .profile {
    padding: 20px 20px;
    margin: 5%;

    .profile_Title {
      margin: 40px 0;
    }
    .profile_Card {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.542),
          rgba(0, 0, 0, 0.542)
        ),
        url(../img/profile/Bulky.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 40px;
      border: 1px solid rgba(255, 255, 255, 0.319);
      border-radius: 10px;
      color: white;
      margin: 0px 0 30px 0;
      position: relative;
      display: block;
      &:hover {
        color: #bdbdbd;
      }
    }

    .profile_Card_Two {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.542),
          rgba(0, 0, 0, 0.542)
        ),
        url(../img/profile/KHS.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 88px 40px;
      border: 1px solid rgba(255, 255, 255, 0.319);
      border-radius: 10px;
      color: white;
      margin: 30px 0;
      position: relative;
      display: block;
      &:hover {
        color: #bdbdbd;
      }
    }

    .profile_Card_Three {
      background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.542),
          rgba(0, 0, 0, 0.542)
        ),
        url(../img/profile/ECCO.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 15px 40px;
      border: 1px solid rgba(255, 255, 255, 0.319);
      border-radius: 10px;
      color: white;
      display: block;
      position: relative;
      &:hover {
        color: #bdbdbd;
      }
    }

    .profile_Position {
      position: relative;
      text-align: left;
      &.profile_Text {
        top: 35px;
        left: -10px;
      }
    }

    .profile_Position_Right {
      position: relative;
      text-align: left;
      &.profile_Text {
        top: 15px;
        left: -10px;
      }
    }
  }

  .news {
    .newsTitle {
      margin: 40px 0;
    }
    > .row {
      margin: auto;
      > div {
        .new-card {
          border-radius: 10px;
          overflow: hidden;
          border-radius: 10px;
          box-shadow: 3px 5px 14px 8px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          text-align: initial;
          margin: 20px 0;
          .new-card-img {
            width: 100%;
            display: inline-block;
            height: 195px;
            > img {
              background-position: center;
              background-size: cover;
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          .new-card-content {
            border-top: 10px solid #94bbeb;
            padding: 20px;
            height: 280px;
            // position: relative;
            .new-card-title {
              > a {
                color: white;
                padding: 4px 12px;
                background-color: #d01a48;
                display: inline-block;
                margin: 15px 0;
                border-radius: 5px;
                font-weight: bold;
              }
            }
            > h3 {
              font-size: 22px;
              font-weight: bold;
              > a {
                color: black;
              }
            }
            > p {
              display: inline-block;
            }
          }
        }
      }
    }

    > .newsTop {
      margin: 20px auto;
    }
  }
}

footer {
  &.my_footer {
    background-color: #747474;
    margin-top: 20px;

    .footer_content {
      color: white;
      width: 50%;
      margin: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;

      .footer_text {
        display: flex;
        justify-content: center;
        margin: 10px 0;
      }
    }

    p {
      color: #fff;
    }
  }
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(187, 187, 187);
}

.animate__delay-0_4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animate__delay-0_5 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animate__delay-0_6 {
  -webkit-animation-delay: 0.6;
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animate__delay-0_7 {
  -webkit-animation-delay: 0.7;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animate__delay-0_8 {
  -webkit-animation-delay: 0.8;
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.Title {
  margin-bottom: 40px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .container {
    max-width: 98%;
    .col-lg-3 {
      .new-card {
        margin-bottom: 25px;
        .new-card-img {
          height: 210px !important;
        }
        .new-card-content {
          height: 250px !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 98%;
    .col-lg-3 {
      .new-card {
        margin-bottom: 25px;
        .new-card-img {
          height: 220px !important;
        }
        .new-card-content {
          height: 250px !important;
        }
      }
    }
  }
}
