header {
  width: 100%;
  background-color: aqua;
}
header .head {
  background-image: url(../img/header/HeaderBackgroundImg.jpg);
  background-size: cover;
  background-color: #74b2ff;
}
header .head .head-img-cover {
  background-color: rgba(220, 220, 220, 0.6);
  padding: 90px 0;
  text-align: center;
}
header .head .head-img-cover .img-circle {
  border: 6px solid #74b2ff;
  border-radius: 50%;
  width: 130px;
  display: block;
  margin: auto;
}
header .head .head-img-cover .head-name {
  margin: 13px 0px;
  display: inline-block;
}
header .head .head-img-cover .head-email {
  display: block;
  font-size: 16px;
  color: #454545;
}

main .about_container {
  padding: 20px;
}
main .about_container .row {
  margin: 40px 0;
}
main .about_container .about_right {
  padding: 20px;
}
main .about_container .about_right h4 {
  display: inline-block;
}
main .last_Work {
  background-color: #e6e6e6;
  padding: 60px;
  text-align: center;
}
main .last_Work h3 {
  padding: 30px 0;
}
main .last_Work .car-main {
  margin: 20px 0px;
}
main .last_Work .car-main .material-symbols-rounded {
  font-size: 50px;
}
main .work_Experence {
  padding: 60px 0;
}
main .work_Experence .work_Exp_top {
  margin: 50px 0;
}
main .work_Experence .Title {
  margin-bottom: 40px;
  font-weight: bold;
}
main .work_Experence .swiper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
main .work_Experence .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .work_Experence .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .profile {
  padding: 20px 20px;
  margin: 5%;
}
main .profile .profile_Title {
  margin: 40px 0;
}
main .profile .profile_Card {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), url(../img/profile/Bulky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 10px;
  color: white;
  margin: 0px 0 30px 0;
  position: relative;
  display: block;
}
main .profile .profile_Card:hover {
  color: #bdbdbd;
}
main .profile .profile_Card_Two {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), url(../img/profile/KHS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 88px 40px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 10px;
  color: white;
  margin: 30px 0 0 0;
  position: relative;
  display: block;
}
main .profile .profile_Card_Two:hover {
  color: #bdbdbd;
}
main .profile .profile_Card_Three {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), url(../img/profile/ECCO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 40px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 10px;
  color: white;
  display: block;
  position: relative;
}
main .profile .profile_Card_Three:hover {
  color: #bdbdbd;
}
main .profile .profile_Position {
  position: relative;
  text-align: left;
}
main .profile .profile_Position.profile_Text {
  top: 35px;
  left: -10px;
}
main .profile .profile_Position_Right {
  position: relative;
  text-align: left;
}
main .profile .profile_Position_Right.profile_Text {
  top: 15px;
  left: -10px;
}

footer.my_footer {
  background-color: #747474;
  margin-top: 20px;
}
footer.my_footer .footer_content {
  color: white;
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
footer.my_footer .footer_content .footer_text {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
footer.my_footer p {
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(187, 187, 187);
}/*# sourceMappingURL=index.css.map */