.zoom {
  overflow: hidden;
}
.zoom .inner {
  position: relative;
}
.zoom .inner .img, .zoom .inner.bg {
  transition: transform 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
}
.zoom .inner::before {
  content: "";
  transition: opacity 0.42s cubic-bezier(0.15, 0.46, 0.57, 1);
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
}
.zoom:hover .inner img, .zoom:hover .inner.bg {
  transform: scale(1.08, 1.08);
}
.zoom:hover .inner::before {
  opacity: 1;
}

header {
  width: 100%;
  background-color: aqua;
}
header .head {
  background-image: url(../img/header/HeaderBackgroundImg.jpg);
  background-size: cover;
  background-color: #74b2ff;
}
header .head .head-img-cover {
  background-color: rgba(220, 220, 220, 0.6);
  padding: 90px 0;
  text-align: center;
}
header .head .head-img-cover .img-circle {
  border: 6px solid #74b2ff;
  border-radius: 50%;
  width: 130px;
  display: block;
  margin: auto;
}
header .head .head-img-cover .head-name {
  margin: 13px 0px;
  display: inline-block;
}
header .head .head-img-cover .head-email {
  display: block;
  font-size: 16px;
  color: #454545;
}
header .navbar .nav_main_title {
  position: absolute;
  right: 5%;
  top: 15px;
}

main .about_container {
  padding: 20px;
}
main .about_container .row {
  margin: 40px 0;
}
main .about_container .about_right {
  padding: 20px;
}
main .about_container .about_right h4 {
  display: inline-block;
}
main .last_Work {
  background-color: #e6e6e6;
  padding: 60px;
  text-align: center;
}
main .last_Work h3 {
  padding: 30px 0;
}
main .last_Work .car-main {
  margin: 20px 0px;
}
main .last_Work .car-main .material-symbols-rounded {
  font-size: 50px;
}
main .last_Work .core_skill_unity {
  margin: 60px 0 10px 0;
}
main .work_Experence {
  padding: 60px 0;
}
main .work_Experence .work_Exp_top {
  margin: 50px 0;
}
main .work_Experence .swiper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
main .work_Experence .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  height: auto;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .work_Experence .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .work_Experence .swiper .swiper-slide .lastWorkContent {
  width: 70%;
  margin: auto;
}
main .profile {
  padding: 20px 20px;
  margin: 5%;
}
main .profile .news_web_Title {
  margin: 20px 0;
}
main .profile .profile_Title {
  margin: 40px 0;
}
main .profile .new_web_Title_profile {
  margin: 20px 0;
}
main .profile .new_web_Title_profile .profile_Card {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), url(../img/profile/Bulky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 10px;
  color: white;
  margin: 20px 0;
  height: 100%;
  position: relative;
  display: block;
}
main .profile .new_web_Title_profile .profile_Card:hover {
  color: #bdbdbd;
}
main .profile .new_web_Title_profile .profile_Card_Two {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), url(../img/profile/KHS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 88px 40px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 10px;
  color: white;
  position: relative;
  display: block;
  height: 100%;
  margin: 20px 0;
}
main .profile .new_web_Title_profile .profile_Card_Two:hover {
  color: #bdbdbd;
}
main .profile .new_web_Title_profile .profile_Card_Three {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.542), rgba(0, 0, 0, 0.542)), url(../img/profile/ECCO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 40px;
  border: 1px solid rgba(255, 255, 255, 0.319);
  border-radius: 10px;
  color: white;
  display: block;
  position: relative;
  margin: 20px 0;
}
main .profile .new_web_Title_profile .profile_Card_Three:hover {
  color: #bdbdbd;
}
main .profile .new_web_Title_profile .profile_Position {
  position: relative;
  text-align: left;
}
main .profile .new_web_Title_profile .profile_Position.profile_Text {
  top: 35px;
  left: -10px;
}
main .profile .new_web_Title_profile .profile_Position_Right {
  position: relative;
  text-align: left;
}
main .profile .new_web_Title_profile .profile_Position_Right.profile_Text {
  top: 15px;
  left: -10px;
}
main .news .newsTitle {
  margin: 60px 0 20px 0;
}
main .news > .row {
  margin: auto;
}
main .news > .row > div {
  padding: 20px 10px;
}
main .news > .row > div .new-card {
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 5px 14px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: initial;
  height: 100%;
}
main .news > .row > div .new-card .new-card-img {
  width: 100%;
  display: inline-block;
  height: 195px;
}
main .news > .row > div .new-card .new-card-img > img {
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
main .news > .row > div .new-card .new-card-content {
  border-top: 10px solid #94bbeb;
  padding: 20px;
  display: inline-block;
}
main .news > .row > div .new-card .new-card-content .new-card-title > a {
  color: white;
  padding: 4px 12px;
  background-color: #1a84d0;
  display: inline-block;
  margin: 5px 0 15px 0;
  border-radius: 5px;
  font-weight: bold;
}
main .news > .row > div .new-card .new-card-content > h3 {
  font-size: 22px;
  font-weight: bold;
}
main .news > .row > div .new-card .new-card-content > h3 > a {
  color: black;
}
main .news > .row > div .new-card .new-card-content > p {
  display: inline-block;
}
main .news > .newsTop {
  margin: 20px auto;
}

footer.my_footer {
  background-color: #747474;
  margin-top: 20px;
}
footer.my_footer .footer_content {
  color: white;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
footer.my_footer .footer_content .footer_text {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
footer.my_footer p {
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(187, 187, 187);
}

.animate__delay-0_4 {
  animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animate__delay-0_5 {
  animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animate__delay-0_6 {
  animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animate__delay-0_7 {
  animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.animate__delay-0_8 {
  animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.Title {
  margin-bottom: 40px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .container {
    max-width: 98%;
  }
  .container .col-lg-3 .new-card {
    margin-bottom: 25px;
  }
  .container .col-lg-3 .new-card .new-card-img {
    height: 210px !important;
  }
  .container .col-lg-3 .new-card .new-card-content {
    height: 250px !important;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 98%;
  }
  .container .col-lg-3 .new-card {
    margin-bottom: 25px;
  }
  .container .col-lg-3 .new-card .new-card-img {
    height: 220px !important;
  }
  .container .col-lg-3 .new-card .new-card-content {
    height: 250px !important;
  }
}/*# sourceMappingURL=index.css.map */