/*初始化*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* -------------------header---------------------- */
.header {
  width: 100%;
}

.head {
  background-image: url(../img/header/HeaderBackgroundImg.jpg);
  background-size: cover;
  background-color: #74b2ff;
}

.head-img-cover {
  background-color: rgb(220 220 220 / 60%);
  padding: 90px 0;
  text-align: center;
}

.img-circle {
  border: 6px solid #74b2ff;
  border-radius: 50%;
  width: 130px;
  display: block;
  margin: auto;
}

.head-name {
  margin: 13px 0px;
  display: inline-block;
}

.head-email {
  display: block;
  font-size: 16px;
  color: #454545;
}

.head-nav {
  height: 60px;
  border-bottom: 1px solid #454545;
}
nav ul {
  display: flex;
  flex-direction: row;
  margin: 0 20%;
  text-align: center;
  height: 100%;
}
nav ul li {
  flex: 1;
  line-height: 60px;
}

nav ul li a {
  display: block;
}

nav ul li a:hover {
  background-color: #e7e7e7;
  border-bottom: 1px solid #454545;
}
/* -------------------main---------------------- */
/* -------------------about---------------------- */
.about {
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin: 5%;
}

.about div {
  flex: 1;
}

.about-Right h1 {
  padding: 0 0 20px 0;
  margin-top: 0;
}

.about-Left {
  padding: 10px;
}

.about-Left div {
  background-color: #f0f0f0;
  display: inline-block;
  width: auto;
  padding: 5px 20px;
  border: 1px solid #f0f0f0;
  border-radius: 30px;
  margin: 5px;
}
/* -------------------Last Work---------------------- */
.last-Work {
  background-color: #e6e6e6;
  padding: 60px;
  text-align: center;
}

.work-content {
  width: 100%;
  padding: 40px;
}
.work-content-card {
  width: 20%;
  height: 200px;
  margin: 20px;
  display: inline-block;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.card-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  flex-direction: column;
}

.card-title {
  font-size: 20px;
  margin: 5%;
}

/* 工作經歷 */
.d-style {
  color: black !important;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-padding {
  padding: 60px;
}

/*--------------- 通用屬性 --------------------------------*/
img {
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #454545;
}

/*--------------- 手機 --------------------------------*/

@media (max-width: 1000px) {
  .work-content {
    width: 100%;
    padding: 40px;
    text-align: center;
  }
  .work-content-card {
    width: 40%;
    display: inline-block;
    height: 300px;
    margin: 20px;
    padding: 20px;
    background-color: white;
  }
}
